.LotNacional{
    padding: 1em;
    overflow: hidden;
    background-color: white;
}

.item{
    margin: 2em;
    padding: 2em;
    text-align:center;
    color: white;
    float: left;  

}
#item1{
    box-shadow: 0 4px 8px 0  green, 0 6px 20px 0 rgba(0,0,0,0.19);
}