:root {
  --Principal: rgba(245, 167, 37, 1);
  --Secundario: rgb(190, 130, 27);
  --Blanco: #ffffff;
  --Gris: #dbdada;
  --negro: #39393a;
}
.Carrito {
  padding: 8px;
  margin-left: 15%;
  width: 70%;
  height: 80%;
  /*background-color: #ffffff;*/
  border-radius: 20px;
  box-shadow: 0px 25px 40px var(--Secundario);
  overflow: scroll;
}
.Letrero {
  margin: auto;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin-bottom: 4%;
}
.Caco {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  font-weight: 700;
  color: var(--Principal);
}
.Accion {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  font-weight: 600;
  color: var(--Secundario);
  cursor: pointer;
  text-decoration: none;
}

.jugadaContainer {
  overflow: scroll;
  margin: auto;
  width: 100%;
  height: 30%;
  
  display: flex;
  overflow:scroll;
  align-items: center;
  margin-bottom: 4%;
  border-bottom: 10px solid var(--Principal);
  box-shadow: -1px 8px 20px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 8px 20px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 20px -7px rgba(0, 0, 0, 0.75);
  border-radius: 1%;
}
.loteryImg {
  width:auto;
  height:auto;
  max-width:25%;
  max-height:90vh;  
  text-align: center;
}
.detalle {
  height: 100%;
}
.loteria {
  padding-top: 35px;
  line-height: 10px;
  font-size: 1vw;
  font-family: Verdana, sans-serif;
  font-weight: 800;
  color: #202020;
}
.sorteo {
  padding-top: 5px;
  line-height: 10px;
  font-size: 1.5vw;
  font-family: Verdana, sans-serif;
  font-weight: 800;
  color: #202020;
}
.Jugada {
  margin-left: -87%;
  margin-right: 10%;
  font-size: 0.9vw;
  font-family: Verdana, sans-serif;
  font-weight: 600;
  color: var(--Secundario);
}

.Fecha {
  margin-left: -4%;
  line-height: 4px;
  font-size: 0.7vw;
  font-family: Verdana, sans-serif;
  font-weight: 600;
  color: #000000;
}
.line {
  width: 100%;
  height: 47px;
  border-bottom: 4px solid var(--Principal);
  position: absolute;
}

.montitos {
  height: 100%;
  text-align: right;
}
.monto {
  padding-top: 20px;
  font-size: 1vw;
  font-family: Verdana, sans-serif;
  font-weight: 800;
  color: #202020;
margin-right: 40px;

}
.pagar {
  padding-top: 5px;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  font-weight: 600;
  color: #1687d9;
  cursor: pointer;
}
.cancelar {
  padding-top: 5px;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 40px;
}
hr{
    width: 66%;
    float: right;
    margin-right: 5%;
    background-color: var(--Principal);
   }
   .pagarto{
    float: right;
    margin-right: 5%;
    width: 28%;
   }
   .Ctotal{
    width: 100%;
    display: flex;
    justify-content: space-between;

   }
   .Subtotal{
    font-size: 22px;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    color: #202020;
   }
   .CantidadJ{
    font-size: 16px;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
   }
   .CantidadT{
    font-size: 30px;
    font-family: Verdana, sans-serif;
    font-weight: 900;
    color: #202020;
   }
   .boton{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, var(--Principal), var(--Secundario));
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    font-weight: 600;
    color: var(--Blanco);
   }
   .col{

    min-width:10px;
    padding-left: 2%;
   }


   /* check - CSS*/
   
   
   .control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 6px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px hidden #000000;
    border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #ff9614;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #975618;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #ff9400;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}

/*dark mode*/

body.dark .Carrito{
  background-color: var(--negro);
  /* border: var(--Principal) solid;
  border-width: .1vw; */
}

body.dark .jugadaContainer{
  background-color: var(--negro);
}

body.dark .monto{
    color:var(--Blanco);
}

body.dark .Fecha {
    color: var(--Blanco);
}

body.dark .sorteo{
    color: var(--Blanco);
}

body.dark .loteria{
    color: var(--Blanco);
}
