* {
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  color: #1f1f1f;
}

.containero {
  background: #f1f1f1;
  padding: 20px 10px;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.receipt {
  width: 32vh;
  min-height: 20vh;
  height: 100%;
  background: #fff;
  margin: 0 auto;
  padding: 1vw;
}

.logoS {
  width: 15vw;
  height: 15vw;
  max-width: 15vw;
}

.address {
  text-align: center;
  margin-bottom: 1vw;
}

.break {
  font-size: 1.5vh;
}

.transactionDetails {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 10px;
}
.transactionDetails .detail {
  text-transform: uppercase;
}

.centerItem {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.detail{
  width: 19vw;
  height: 2vw;
  max-width: 580vw;
}
.survey {
  text-align: center;
  margin-bottom: 12px;
}
.survey .surveyID {
  font-size: 20px;
}

.paymentDetails {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 150px;
}

.creditDetails {
  width: 15vw;
  height: 6vw;
  max-width: 15vw;
  font-size: 1.8vh;
  text-transform: uppercase;
}
#bar {
  width: 50vh;
  margin-left: -15vh;
}
.receiptBarcode {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  zoom: 0.2vh;
  transform: scale(0.5);
}

.returnPolicy {
  margin-left: 2vh;
  width: 18vh;
  display: flex;
  justify-content: space-between;
}

.coupons {
  margin-top: 4vh;
}

.tripSummary {
  margin: auto;
  width: 10vw;
}
.tripSummary .item {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1vh;
}

.feedback {
  margin: 1vw auto;
}
.feedback h3.clickBait {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin: 1vw 0;
}
.feedback h4.web {
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  margin: 1vw 0;
}
.feedback .break {
  text-align: center;
  font-size: 0.8vw;
  font-weight: bold;
  margin: 1vw 0;
}

.couponContainer {
  border-top: 1px dashed #1f1f1f;
  margin-bottom: 20px;
}
.couponContainer .discount {
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}
.couponContainer .discountDetails {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.couponContainer .barcode {
  margin: 10px 0 0;
}
.couponContainer .legal {
  font-size: 12px;
  margin-bottom: 12px;
}
.couponContainer .barcodeID {
  margin-bottom: 8px;
}
.couponContainer .expiration {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.couponContainer .couponBottom {
  font-size: 13px;
  text-align: center;
}
.n-logo img {
  width: 116%;
  height: 60%;
}
.n-logo {
  display: inline-block;
  vertical-align: left;
  width: 230px;
}
.logoDivs {
  width: 18px;
  margin-bottom: -20%;
}
