
:root {
  --Principal: rgba(245, 167, 37, 1);
  --Secundario: rgb(190, 130, 27);
  --Blanco: #ffffff;
  --Gris: #dbdada;
  --GrisOscuro: #515151;
  --negro: #39393a;
}
th{

  background-color: var(--Principal);
  color: var(--Blanco);
  font-weight: bolder;
}
.papa {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: auto;
  font-family: Verdana, sans-serif;
}

.bebe {
  flex: 1 0 auto;
  margin: 3px;
  justify-content: center;
  padding: 8px 16px;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, sans-serif;

}
.papagay{
  display: flex;
  
}

.lotsSelect.right{
  margin-left: 8vw;
  
  }
.lotsSelect.left{
margin-left: -35vw;

}
.bebecito:hover:focus{
  animation-name:desredondear;

}



.bebecito {
  margin: 3px;
  text-align: center;
  border-radius: 999999px;
  border-color: var(--Principal);
  border-width: 5px;
  border-style: solid;
  margin: 2%;
  font-family: Verdana, sans-serif;
  transition: margin-top 750ms;
  will-change: margin-top;
  animation: 1s ease-out 0s 1 slideInLeft;
  animation-name: slidein;
  
}

@keyframes slidein {
  from {
   opacity: 0%;
  }

  to {
 opacity: 100%;
  }
}
.bheder {
  box-shadow: 2px 8px 6px -8px var(--GrisOscuro);
  -webkit-box-shadow: 2px 8px 6px -8px var(--GrisOscuro);
  -moz-box-shadow: 2px 8px 6px -8px var(--GrisOscuro);
  background-color: var(--Principal);
  height: 80px;
  text-align: center;
  font-family: Verdana, sans-serif;
  border-radius: 60px
}

.bheder h1 {
  padding-top: 25px;
  margin-top: 2%;
  color: var(--Blanco);
  text-align: center;
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 39px;
}
.bebecitoButton {
  box-shadow: 2px 8px 6px -8px var(--GrisOscuro);
  -webkit-box-shadow: 2px 8px 6px -8px var(--GrisOscuro);
  -moz-box-shadow: 2px 8px 6px -8px var(--GrisOscuro);
  background-color: var(--Principal);
  border-radius: 12px;
  border: 4px solid #b1680881;
  width: 18%;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 20px;

  text-decoration: none;
  text-align: center;
}
.bebecitoButton:hover {
  background-color: var(--Blanco);
  color: var(--Principal);
}
.bebecitoButton:active {
  position: relative;
  top: 1px;
}
.lotsSelect:hover,.lotsSelect:focus{

  transform: translateY(5px);
  color:var(--Principal);

}
.lotsSelect {
  transition: transform 750ms;
    will-change: transform;
  transform: translateY(10px);
  text-align: center;
  /*width: 17vw;*/
  margin-top: 10vh;
  box-shadow: 2px 8px 6px -8px var(--GrisOscuro);
  -webkit-box-shadow: 2px 8px 6px -8px var(--GrisOscuro);
  -moz-box-shadow: 2px 8px 6px -8px var(--GrisOscuro);
  background-color: var(--Blanco);
  border-radius: 12px;
  border: 4px solid #b1680881;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Verdana, sans-serif;
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none; 
}
option:first {
  color: rgb(174, 96, 12);
}

#tripleta {
  margin-left: 4%;
}

.botoncito {
  background-color: var(--Principal);
  color: var(--Blanco);
  height: 50px;
  width: 120px;
  border: none;
  font-weight: bolder;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 7%;
}
.cuadrais {
  border-radius: 10%;
  height: 500px;
  width: 450px;
  box-shadow: -2px 12px 39px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 12px 39px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 12px 39px -6px rgba(0, 0, 0, 0.75);
}
/* checkboxex */
.t {
  color: var(--Secundario);
}
.small {
  font-weight: bolder;
}
.logo{height:15vw;
  padding-left: -400vw;

}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

/*dark mode*/

body.dark td{
  color: var(--Blanco);
}
body.dark .lotsSelect{
  background-color: var(--negro);
  color: var(--Blanco);
}